---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Passive income:
    - Bitping:
        - abbr: BP
          href: https://app.bitping.com/
    - EarnApp:
        - abbr: EA
          href: https://earnapp.com/i/apf5slx
    - earn.FM:
        - abbr: EF
          href: https://earn.fm/ref/ANDRCFED          
    - Honeygain:
        - abbr: HG
          href: https://r.honeygain.me/CYPH367A33
    - IP Royal Pawns:
        - abbr: IPP
          href: https://pawns.app/?r=706915
    - Myst Nodes:
        - abbr: MN
          href: https://mystnodes.co/?referral_code=sEpC6aVP7Fdt2Typ1B0Dt50JM36wW2GjUNNYUE17
    - PacketStream:
        - abbr: PS
          href: https://packetstream.io/?psr=3lyO
    - Proxyrack:
        - abbr: PR
          href: https://peer.proxyrack.com/ref/fd2xrvrniqe3zrlthphhe9ftl0kh7dsnvtqivkzc
    - Repocket:
        - abbr: RP
          href: https://link.repocket.com/iLAH
    - Traffmonetizer:
        - abbr: TM
          href: https://traffmonetizer.com/?aff=232219

- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/